<footer>
    <ul>
        <li><h4>Recursos utilizados:</h4></li>
        <li>
            <a href="https://pokeapi.co">PokeApi</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/back" title="back icons">Back icons created by Smashicons - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by Md Tanvirul Haque - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by Pixel perfect - Flaticon</a>
        </li>
    </ul>
    <ul class="redes">
        <li>
            <a href="https://github.com/mvieitez">
                <img src="{{ url_for('static', filename='img/github.png') }}" alt="">
            </a>
        </li>
        <li>
            <a href="https://uy.linkedin.com/in/micaela-vieitez-ba6637200">
                <img src="{{ url_for('static', filename='img/linkedin.png') }}" alt="">
            </a>
        </li>
    </ul>
</footer>